<section class="em-contact-us" id="contact">
    <em-title title="¿Listo para transformar tu vida?" [showBar]="false"></em-title>
    <div class="em-contact-us__content">
        <p>
            En Enlace Místico, entendemos que cada situación es única y requiere un enfoque personal y profundo. Si estás buscando orientación espiritual, deseas reconectar con el amor o necesitas liberarte de energías negativas, estamos aquí para asistirte en cada paso del camino.
        </p>
        <p>
            No dudes en ponerte en contacto con nosotros para discutir tus necesidades específicas o para obtener más información sobre nuestros servicios. Tu camino hacia la paz y el equilibrio comienza con un simple mensaje.
        </p>
        <br>
        <br>
        <p class="em-contact-us__paragraph">
            <strong>Conéctate con nosotros ahora y permite que las energías positivas fluyan en tu vida.</strong>
        </p>
        <em-button>
            ¡Contacta con Nosotros!
        </em-button>
    </div>
    <img class="em-contact-us__image-1" src="./assets/images/cloud1.png" alt="">
    <img class="em-contact-us__image-2" src="./assets/images/cloud2.png" alt="">
</section>