<em-nav-bar></em-nav-bar>
<article class="em-main" id="home">
  <section class="em-main__content">    
    <div class="em-main__background"></div>
    <em-banner></em-banner>
    <em-services></em-services>
    <img class="em-main__image" src="./assets/images/clouds.png" alt="clouds" width="100%">
    <div class="em-main__sub-content">
      <em-about-us></em-about-us>
      <em-testimonials></em-testimonials>
      <em-benefits></em-benefits>
      <em-contact-us></em-contact-us>
    </div>
  </section>
</article>
<em-footer></em-footer>